// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after,
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
html {
    padding: 0;
    margin: 0;
    // font-size: 100%;
}

*,
a,
input,
button {
    -webkit-tap-highlight-color: transparent;
}

[v-cloak] > * { 
    display:none 
}

[v-cloak]::before { 
    content: "loading…" 
}

body {
    // @include fontSize($baseFontSize);
    font-size: $baseFontSize;
    font-family: $baseFontFamily;
    line-height: $baseLineHeight;
    color: $baseTextColor;
    background: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
button {
    cursor: pointer;
    outline: none;
}

ol, 
ul {
    padding: 0;
    list-style: none;
    list-style-image: none
}

figure {
    margin: 0;
}

svg {
    height: 100%;
    width: 100%;
    fill: transparent;
    stroke: transparent;
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
    color: inherit;
}
