$red: #c42a42;
$red-dark: #a11b30;
$red-darker: #9e1027;
$red-darker-dark: #a62d42;
$red-light: #c67682;

$gray: #848484;
$gray-dark: #666666;
$gray-text: #595858;
$gray-figure: #f9f9f9;
$gray-text-form: #bbb9b9;
$gray-text-form-2: #828282;
$gray-line-form: #dadada;

$green: #00d1a3;

$white-transparent: rgba(255, 255, 255, 0.3);
$white-transparent-2: rgba(255, 255, 255, 0.8);

$black-transparent: rgba(0, 0, 0, 0.2);
$black-transparent-2: rgba(0, 0, 0, 0.5);
$black-transparent-3: rgba(0, 0, 0, 0.6);
$black-transparent-4: rgba(0, 0, 0, 0.8);

$red-darker-alpha: rgba(158, 16, 39, 0.8);
$red-darker-alpha-h: rgba(158, 16, 39, 0.7);
$blue-alpha: rgba(32, 109, 138, 0.7);
$purple-alpha: rgba(92, 32, 138, 0.7);

$baseFontSize: 14px;
$baseFontFamily: 'Open Sans', sans-serif;
$baseLineHeight: 18px;
$baseTextColor: $black-transparent;