<template>
	<div class="error-message">
		<img src="/static/images/logo/Logo-y.png"/>

		<h2 v-html="error_message"></h2>
		<a href="/">Volver al Inicio</a>
	</div>
</template>

<script>
	export default {
		name: 'error-message',
		data () {
			return {
				error_message: "La pagina que buscas no existe"
			}
		},
		mounted: function () {
			
		}
	}
</script>

<style lang="scss">
	.error-message {
		background-color: #c43d27;
		text-align: center;
		color: #fff;
		height: 100vh;
		font-family: "Open Sans", sans-serif;
		
		h2 {
			font-size: 50px;
			margin-bottom: 65px;
		}
		a {
			color: #fff;
			font-size: 15px;
			text-decoration: none;
			padding: 10px;
			border: 1px solid #efefef;
			border-radius: 10px;
		}
	}

	
</style>
