<template>
	<div class="home">
		<header>
			<div class="wrap-header">
				<nav>
					<figure>
						<img src="/static/images/logo/Logo-y.png">
					</figure>
				
					<ul>
						<li><a href="#ubication">Ubicación</a></li>
						<li><a href="#delivery">Pedidos</a></li>
						<li><a href="http://facebook.com/QuePapaCo" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="http://twitter.com/QuePapaCo" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="http://instagram.com/QuePapaCo" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</nav>

				<article class="description">
					<h1>Toppings <br><span>& Specials</span></h1>
					<p>En quéPapa! pide tus papas y armalas con cualquiera de nuestra gama de deliciosos toppings, y disfruta de las mejores papas llenas de sabores de toda Colombia.</p>
				</article>

				<div class="arrow-nav">
					<a href="#toppings"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
				</div>
			</div>
		</header>

		<div class="section" id="toppings">
			<div class="head">
				<h1>Toppings</h1>
			</div>
			<div class="content">
				<ul>
					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/alitas.png" alt="Alitas BBQ"></figure>
						<figcaption>Alitas BBQ</figcaption>
					</li>

					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/albondigas.png" alt="Albondigas"></figure>
						<figcaption>Albondigas</figcaption>
					</li>

					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/pechuga.png" alt="Pechuga"></figure>
						<figcaption>Pechuga</figcaption>
					</li>

					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/tocineta.png" alt="Tocineta"></figure>
						<figcaption>Tocineta</figcaption>
					</li>

					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/salchicha.png" alt="Salchicha"></figure>
						<figcaption>Salchicha</figcaption>
					</li>

					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/chorizo.png" alt="Chorizo"></figure>
						<figcaption>Chorizo</figcaption>
					</li>

					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/huevos.png" alt="Huevo Codorniz"></figure>
						<figcaption>Huevo Codorniz</figcaption>
					</li>

					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/maiz.png" alt="Maicitos"></figure>
						<figcaption>Maicitos</figcaption>
					</li>

					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/champinon.png" alt="Champiñones"></figure>
						<figcaption>Champiñones</figcaption>
					</li>

					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/ensalada.png" alt="Verduras"></figure>
						<figcaption>Verduras</figcaption>
					</li>

					<li>
						<figure><span class="helper"></span><img src="/static/images/toppings/guacamole.png" alt="Guacamole"></figure>
						<figcaption>Guacamole</figcaption>
					</li>

					<li>
						<span class="circle"><span class="helper"></span><span class="text"><i class="fa fa-plus" aria-hidden="true"></i>Toppings</span></span>
						<span class="caption">Próximamente</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="section" id="soon" v-show="false">
			<div class="soon-wrapper">
				<div class="head">
					<h1>Muy Pronto</h1>
				</div>
				<div class="content">
					<h2>Algo increible se está cocinando</h2>
					<div class="timer">
						<div class="clock-wrapper">
							<div class="clock days">
								<div class="pie spinner"></div>
								<div class="pie filler"></div>
								<div class="mask"></div>
								<div class="text">{{ msToNatural.days }}</div>
							</div>

							<span>Días</span>
						</div>

						<div class="clock-wrapper">
							<div class="clock hours">
								<div class="pie spinner"></div>
								<div class="pie filler"></div>
								<div class="mask"></div>
								<div class="text">{{ msToNatural.hours }}</div>
							</div>

							<span>Horas</span>
						</div>

						<div class="clock-wrapper">
							<div class="clock minutes">
								<div class="pie spinner"></div>
								<div class="pie filler"></div>
								<div class="mask"></div>
								<div class="text">{{ msToNatural.minutes }}</div>
							</div>

							<span>Minutos</span>
						</div>

						<div class="clock-wrapper">
							<div class="clock seconds">
								<div class="pie spinner"></div>
								<div class="pie filler"></div>
								<div class="mask"></div>
								<div class="text">{{ msToNatural.seconds }}</div>
							</div>

							<span>Segundos</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section" id="ubication">
			<div class="head head__red">
				<h1>Ubicación</h1>
			</div>
			<div class="content">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1408.7315142083578!2d-75.28902899936055!3d2.960220605504521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3b75ac7938ed1d%3A0x9ae29d012c1d4d85!2zcXXDqVBhcGEh!5e0!3m2!1ses-419!2sco!4v1509001439847" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="section" id="delivery">
			<div class="head head__red">
				<h1>Pedidos</h1>
			</div>
			<div class="content">
				<section class="delivery__text">
					<p>Envíanos tus datos y llamaremos para tomar tu pedido</p>
					<p>ó tambien puedes llamarnos<br>3184617161 - 8779604</p>
				</section>
				<section class="delivery__form">
					<form action="https://formspree.io/ventas@quepapa.co" method="POST">
						<div class="input">
							<span class="label">Nombre:</span>
							<input type="text" name="name" />
						</div>
						<div class="input">
							<span class="label">Teléfono:</span>
							<input type="text" name="phone" />
						</div>
						<input type="hidden" name="_next" value="http://quepapa.co/" />
						<input type="hidden" name="_subject" value="Nuevo Pedido!" />
						<button class="send" type="submit">Enviar</button>
					</form>
				</section>
			</div>
		</div>

		<footer>
			<div class="arrow-nav">
				<a href="#"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
			</div>
			<div class="copyright">
				Copyright &copy; 2017 QuéPapa. Todos los derechos reservados.
			</div>
		</footer>
	</div>
</template>

<script>
	export default {
		name: 'home',
		data () {
			return {
				inaugurationDate: new Date("2017/11/01 12:00:00").getTime(),
				nowDate: new Date().getTime()
			}
		},
		mounted(){
			var self = this;
			setInterval(function(){
				self.nowDate = new Date().getTime();
			}, 1000);
		},
		computed: {
			timeRemainingToInauguration() {
				return this.inaugurationDate - this.nowDate;
			},
			msToNatural() {
				return {
					days: this.numberToNatural(Math.floor(this.timeRemainingToInauguration / (1000 * 60 * 60 * 24))),
					hours: this.numberToNatural(Math.floor((this.timeRemainingToInauguration % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))),
					minutes: this.numberToNatural(Math.floor((this.timeRemainingToInauguration % (1000 * 60 * 60)) / (1000 * 60))),
					seconds: this.numberToNatural(Math.floor((this.timeRemainingToInauguration % (1000 * 60)) / 1000))
				};
			}
		},
		methods: {
			numberToNatural(number){
				if (number < 10) {
					return "0" + number;
				}
				return number;
			}
		}
	}
</script>
