¿<template>
	<div class="login">
		<h2>Login</h2>
		<form method="post" @submit.prevent="login()">
			<input type="number" v-model="cc" placeholder="Cedula">
			<input type="password" v-model="password" placeholder="Contraseña">
			<button type="submit">Ingresar</button>
		</form>
		<figure>
			<img src="/static/images/logo-2.png">
		</figure>
	</div>
</template>

<script>
	var API = require('./services/api.js');

	export default {
		name: 'login',
		data () {
			return {
				cc: '',
				password: ''
			}
		},
		methods: {
			login: function(){
	    		API.login({cc: this.cc, password: this.password}, function(res) {
	    			if (res.error) {
	    				alert(res.message);
	    			} else {
	    				window.localStorage.setItem('uid', res.uid);
	    				window.localStorage.setItem('user', JSON.stringify(res.user));
	    				window.top.location = '/';
	    			}
	    		});
		    },
		}
	}
</script>

<style lang="scss"></style>
