<template>
	<div class="order-app">
		<header>
			<nav>
				<ul>
					<li class="active"><i class="fa fa-cutlery"></i>Toppings</li><!---
					--><li><i class="fa fa-beer"></i>Bebidas</li>
					<li><i class="fa fa-check-square"></i>Orden</li>
				</ul>
			</nav>
		</header>

		<section class="container s0">
			<article class="topping-list">
				<ul>
					<li v-for="(topping, k) in toppings" v-if="topping" :id="topping.id" :data-k="k" @click="addTD('topping', k)"><figure><span class="helper"></span><img :src="topping.img"></figure><div><span class="topping-text">{{ topping.name }}</span> <span class="topping-quantity"></span></div></li>
				</ul>
			</article>

			<article class="topping-resume">
				<h2>Toppings</h2>
				<span class="hint-desc">click en los toppings para agregar</span>

				<div class="first-row">
					<p @click="small_base = !small_base" class="first-row base-price" :class="!small_base ? 'disable-cheese' : ''"><i class="fa" :class="!small_base ? 'fa-square-o' : 'fa-check-square-o'"></i> Base pequeña</p>
					<p @click="mix_topping = !mix_topping" class="first-row mix-topping" :class="!mix_topping ? 'disable-cheese' : ''"><i class="fa" :class="!mix_topping ? 'fa-square-o' : 'fa-check-square-o'"></i> Mix Topping</p>
				</div>
				<div class="seasoning">
					<p @click="seasoning.cheese_sauce = !seasoning.cheese_sauce" class="seasoning" :class="!seasoning.cheese_sauce ? 'disable-cheese' : ''"><i class="fa" :class="!seasoning.cheese_sauce ? 'fa-square-o' : 'fa-check-square-o'"></i> Salsa Queso</p>
					<p @click="seasoning.cheese_grated = !seasoning.cheese_grated" class="seasoning" :class="!seasoning.cheese_grated ? 'disable-cheese' : ''"><i class="fa" :class="!seasoning.cheese_grated ? 'fa-square-o' : 'fa-check-square-o'"></i> Queso Rallado</p>
					<p @click="seasoning.guacamole = !seasoning.guacamole" class="seasoning last" :class="!seasoning.guacamole ? 'disable-cheese' : ''"><i class="fa" :class="!seasoning.guacamole ? 'fa-square-o' : 'fa-check-square-o'"></i> Guacamole</p>
				</div>

				<figure>
					<img src="/static/images/order/base_papas.png">

					<div v-for="(topping, k) in toppings_added" :id="'added_'+topping.id" class="topping-added" @click="removeTD('topping', k)"><figure><span class="helper"></span><img :src="topping.img"><span class="topping-quantity" :class="topping.quantity > 1 ? 'show' : ''">x{{ topping.quantity }}</span></figure></div>
				</figure>
			</article>

			<article class="topping-order">
				<h3>Orden #{{ ordersLength }}</h3>

				<div class="frites">
					<aside class="frite">
						<div class="frite-title-container"><span class="frite-title">Papas #{{ frites_added.length+1 }}</span><i v-if="frites_added.length > 0" @click="removeFrite(null, true)" class="fa fa-trash-o"></i></div>

						<ul>
							<li><span class="topping-text">Papas Fritas</span> <span class="topping-price">$ {{ base_price }}</span></li>
							<li v-for="(topping, k) in toppings_added"><span class="topping-text">{{ topping.name }} <span class="topping-quantity" v-show="topping.quantity > 1">x{{ topping.quantity }}</span></span> <span class="topping-price">$ {{ toppingPrice(topping) }}</span></li>
							<li v-show="mix_topping"><span class="topping-text">Mix Topping</span> <span class="topping-price">$ {{ mix_price }}</span></li>
							<li v-show="seasoning.cheese_sauce"><span class="topping-text">Salsa Queso</span> <span class="topping-price">¡Gratis!</span></li>
							<li v-show="seasoning.cheese_grated"><span class="topping-text">Queso Rallado</span> <span class="topping-price">¡Gratis!</span></li>
							<li v-show="seasoning.guacamole"><span class="topping-text">Guacamole</span> <span class="topping-price">¡Gratis!</span></li>
						</ul>
					</aside>

					<aside class="frite" v-for="(frite, k) in frites_added">
						<div class="frite-title-container"><span class="frite-title">Papas #{{ frites_added.length-k }}</span><i @click="removeFrite(k)" class="fa fa-trash-o"></i></div>

						<ul>
							<li><span class="topping-text">Papas Fritas</span> <span class="topping-price">$ {{ getMeta(frite).small_base ? base_price_2 : base_price_1 }}</span></li>
							<li v-for="(topping, k) in frite" v-if="topping !== true && topping !== false && !topping.seasoning"><span class="topping-text">{{ topping.name }} <span v-show="topping.quantity > 1" class="topping-quantity">x{{ topping.quantity }}</span></span> <span class="topping-price">$ {{ toppingPrice(topping, getMeta(frite).mix_topping) }}</span></li>
							<li v-show="getMeta(frite).mix_topping"><span class="topping-text">Mix Topping</span> <span class="topping-price">$ {{ mix_price }}</span></li>
							<li v-show="getMeta(frite).seasoning.cheese_sauce"><span class="topping-text">Salsa Queso</span> <span class="topping-price">¡Gratis!</span></li>
							<li v-show="getMeta(frite).seasoning.cheese_grated"><span class="topping-text">Queso Rallado</span> <span class="topping-price">¡Gratis!</span></li>
							<li v-show="getMeta(frite).seasoning.guacamole"><span class="topping-text">Guacamole</span> <span class="topping-price">¡Gratis!</span></li>
						</ul>
					</aside>

					<aside class="frite">
						<div class="frite-title-container"><span class="frite-title">Bebidas</span></div>
					</aside>
				</div>

				<div class="subtotal">
					<span>Subtotal</span>
					<span class="subtotal-price">$ {{ totalToppings }}</span>
				</div>
			</article>
		</section>

		<section class="container s1">
			<article class="drinks-list">
				<ul>
					<li v-for="(drink, k) in drinks_personal" v-if="drink" :id="drink.id" :data-k="k" @click="addTD('drink', k, 0)"><figure><span class="helper"></span><img :src="drink.img"></figure><div><span class="drink-text">{{ drink.name }}</span> <span class="drink-quantity"></span></div></li>
					<li v-for="(drink, k) in drinks_group" v-if="drink" :id="drink.id" :data-k="k" @click="addTD('drink', k, 1)"><figure><span class="helper"></span><img :src="drink.img"></figure><div><span class="drink-text">{{ drink.name }}</span> <span class="drink-quantity"></span></div></li>
				</ul>
			</article>

			<article class="drinks-resume">
				<h2>Bebidas</h2>
				<span class="hint-desc">selecciona las bebidas que quieras</span>

				<figure>
					<div v-for="(drink, k) in drinks_added" :id="'added_'+drink.id" class="drink-added" @click="removeTD('drink', k)"><figure><span class="helper"></span><img :src="drink.img"><span class="drink-quantity" :class="drink.quantity > 1 ? 'show' : ''">x{{ drink.quantity }}</span></figure></div>
				</figure>
			</article>

			<article class="drinks-order">
				<h3>Orden #{{ ordersLength }}</h3>

				<div class="drinks">
					<aside class="drink">
						<div class="drink-title-container"><span class="drink-title">{{ frites_added.length+1 }} Papas</span><i>$ {{ totalToppings }}</i></div>
					</aside>

					<aside class="drink">
						<div class="drink-title-container"><span class="drink-title">Bebidas</span></div>

						<ul>
							<li v-for="(drink, k) in drinks_added"><span class="drink-text">{{ drink.name }} <span class="drink-quantity" v-show="drink.quantity > 1">x{{ drink.quantity }}</span></span> <span class="drink-price">$ {{ drink.price * drink.quantity }}</span></li>
						</ul>
					</aside>
				</div>

				<div class="subtotal">
					<span>Total</span>
					<span class="subtotal-price">$ {{ total }}</span>
				</div>
			</article>
		</section>

		<section class="container s2">
			<article class="order-title">
				<div class="button-add"><button class="button-normal" @click="goTo(0)"><i class="fa fa-plus-circle"></i> Añadir Más Papas</button></div>

				<div class="order-title-text">
					<h2>Ordenar</h2>
					<span class="hint-desc">paga o agrega más a tu cuenta</span>
				</div>
			</article>

			<article class="frites-list">
				<h3>Orden #{{ ordersLength }}</h3>

				<div class="frites">
					<aside class="frite">
						<div class="frite-title-container"><span class="frite-title">Papas #{{ frites_added.length+1 }}</span></div>

						<ul>
							<li><span class="topping-text">Papas Fritas</span> <span class="topping-price">$ {{ base_price }}</span></li>
							<li v-for="(topping, k) in toppings_added"><span class="topping-text">{{ topping.name }} <span class="topping-quantity" v-show="topping.quantity > 1">x{{ topping.quantity }}</span></span> <span class="topping-price">$ {{ toppingPrice(topping) }}</span></li>
							<li v-show="mix_topping"><span class="topping-text">Mix Topping</span> <span class="topping-price">$ {{ mix_price }}</span></li>
							<li v-show="seasoning.cheese_sauce"><span class="topping-text">Salsa Queso</span> <span class="topping-price">¡Gratis!</span></li>
							<li v-show="seasoning.cheese_grated"><span class="topping-text">Queso Rallado</span> <span class="topping-price">¡Gratis!</span></li>
							<li v-show="seasoning.guacamole"><span class="topping-text">Guacamole</span> <span class="topping-price">¡Gratis!</span></li>
						</ul>
					</aside>

					<aside class="frite" v-for="(frite, k) in frites_added">
						<div class="frite-title-container"><span class="frite-title">Papas #{{ frites_added.length-k }}</span></div>

						<ul>
							<li><span class="topping-text">Papas Fritas</span> <span class="topping-price">$ {{ getMeta(frite).small_base ? base_price_2 : base_price_1 }}</span></li>
							<li v-for="(topping, k) in frite" v-if="topping !== true && topping !== false && !topping.seasoning"><span class="topping-text">{{ topping.name }} <span v-show="topping.quantity > 1" class="topping-quantity">x{{ topping.quantity }}</span></span> <span class="topping-price">$ {{ toppingPrice(topping, getMeta(frite).mix_topping) }}</span></li>
							<li v-show="getMeta(frite).mix_topping"><span class="topping-text">Mix Topping</span> <span class="topping-price">$ {{ mix_price }}</span></li>
							<li v-show="getMeta(frite).seasoning.cheese_sauce"><span class="topping-text">Salsa Queso</span> <span class="topping-price">¡Gratis!</span></li>
							<li v-show="getMeta(frite).seasoning.cheese_grated"><span class="topping-text">Queso Rallado</span> <span class="topping-price">¡Gratis!</span></li>
							<li v-show="getMeta(frite).seasoning.guacamole"><span class="topping-text">Guacamole</span> <span class="topping-price">¡Gratis!</span></li>
						</ul>
					</aside>
				</div>

				<div class="subtotal">
					<span>Subtotal</span>
					<span class="subtotal-price">$ {{ totalToppings }}</span>
				</div>
			</article>

			<article class="drinks-order-list">
				<div class="drinks">
					<aside class="drink">
						<div class="drink-title-container"><span class="drink-title">Bebidas</span></div>

						<ul>
							<li v-for="(drink, k) in drinks_added"><span class="drink-text">{{ drink.name }} <span class="drink-quantity" v-show="drink.quantity > 1">x{{ drink.quantity }}</span></span> <span class="drink-price">$ {{ drink.price * drink.quantity }}</span></li>
						</ul>
					</aside>
				</div>

				<div class="subtotal">
					<span>Subtotal</span>
					<span class="subtotal-price">$ {{ totalDrinks }}</span>
				</div>
			</article>

			<article class="order-total">
				<figure>
					<img src="/static/images/logo/Logo-w.png">
				</figure>

				<div class="total">
					<span>Total</span>
					<span class="total-price">$ {{ total }}</span>
				</div>
			</article>
		</section>

		<footer>
			<figure>
				<img src="/static/images/logo/Logo-w.png">
			</figure>

			<aside class="resume" v-if="actual_section == 0">
				Bienvenido a quéPapa!<br>
				Puedes agregar Toppings a tus papas dando click en cada uno (puedes agregar mas de 1 porcion!). También los puedes eliminar dando click en la bandeja de papas en medio o eliminar tus papas dando click en la zona de la derecha.
			</aside>

			<aside class="resume" v-if="actual_section == 1">
				Bebidas quéPapa!<br>
				Puedes agregar Bebidas a tu orden dando click en cada una (puedes agregar mas de una misma bebida!). También los puedes eliminar dando click en la bebida del medio o eliminar la bebida dando click en la zona de la derecha.
			</aside>

			<aside class="resume" v-if="actual_section == 2">
				Ordenar quéPapa!<br>
				Mira el resumen de tu Orden, puedes agregar más papas o bebidas. Finaliza tu orden y enviala, asi tendras tu Orden quéPapa! en el menor tiempo posible.
			</aside>

			<aside class="nav-button">
				<button class="button-normal" @click="addFrite()" v-if="actual_section == 0"><i class="fa fa-plus-circle"></i> Añadir Otra Papa</button>
				<button class="button-normal return-button" @click="goTo(0)" v-if="actual_section == 1"><i class="fa fa-angle-left"></i> Regresar</button>
				<button class="button-red" @click="goTo(1)" v-if="actual_section == 0">Siguiente</button>
				<button class="button-red" @click="goTo(2)" v-if="actual_section == 1">Siguiente</button>
				<button class="button-normal add-frites" @click="goTo(0)" v-if="actual_section == 2"><i class="fa fa-plus-circle"></i> Añadir Más Papas</button>
				<button class="button-red" v-if="actual_section == 2" @click="order()">Ordenar</button>
			</aside>
		</footer>

		<div class="dialog">
			<div class="dialog-inner" v-if="dialog.type == 0">
				<i class="fa fa-smile-o"></i>
				<p>Muchas gracias por confiar en nosotros<br><strong>Tu pedido será despachado en unos minutos.</strong></p>
				<button class="dialog-button" @click="goTo(0, true)">Empezar de nuevo</button>
			</div>

			<div class="dialog-inner" v-if="dialog.type == 1">
				<p>Dirección y Teléfono de envio</p>
				<form method="post" @submit.prevent="sendDelivery()">
					<select v-model="dialog.address.addr1">
						<option value="Calle">Calle</option>
						<option value="Carrera">Carrera</option>
						<option value="Avenida">Avenida</option>
						<option value="Avenida Carrera">Avenida Carrera</option>
						<option value="Avenida Calle">Avenida Calle</option>
						<option value="Circular">Circular</option>
						<option value="Circunvalar">Circunvalar</option>
						<option value="Diagonal">Diagonal</option>
						<option value="Manzana">Manzana</option>
						<option value="Transversal">Transversal</option>
						<option value="Vía">Vía</option>
					</select>
					<input type="text" v-model="dialog.address.addr2" required>
					<div class="group-form"><label>#</label><input type="text" v-model="dialog.address.addr3" required></div>
					<div class="group-form"><label>-</label><input type="text" v-model="dialog.address.addr4" required></div>
					<input type="number" v-model="dialog.phone" placeholder="Telefono" required>
					<span class="info"><i class="fa fa-info"></i> Te llamaremos para confirmar el pedido.</span>
					<button class="dialog-button btn-cancel" @click="cancel()">Cancelar</button>
					<button class="dialog-button" type="submit">Finalizar</button>
				</form>
				<span class="error" v-if="dialog.error"><i class="fa fa-exclamation-circle"></i> {{ dialog.error_msg || "Error, por favor revisa los campos." }}</span>
			</div>
		</div>
	</div>
</template>

<script>
	require('lodash');
	var API = require('./services/api.js');

	export default {
		name: 'order',
		data () {
			return {
				toppings: [],
				base_price: 0,
				base_price_1: 0,
				base_price_2: 0,
				mix_price: 0,
		  		drinks_personal: [],
		  		drinks_group: [],
				toppings_added: [],
				frites_added: [],
				drinks_added: [],
				drinks_added_total: [],
				seasoning: {
					cheese_sauce: true,
					cheese_grated: false,
					guacamole: false
				},
				small_base: false,
				mix_topping: false,
				actual_section: 0,
				user: localStorage.getItem('uid'),
				user_data: JSON.parse(localStorage.getItem('user')),
				dialog: {
					type: 0,
					address: { addr1: "Calle", addr2: "", addr3: "", addr4: "" },
					phone: "",
					error: false,
					error_msg: null
				},
				ordersLength: 1
			}
		},
		watch: {
			small_base() {
				this.toggleBase();
			}
		},
		mounted: function(){
			var self = this;

			localStorage.setItem('city', 'neiva');

			API.get('toppings', function(res){
				self.toppings = res;
			});
			API.get('base_price', function(res){
				self.base_price_1 = res.base_price;
				self.base_price = self.base_price_1;
			});
			API.get('base_price_2', function(res){
				self.base_price_2 = res.base_price_2;
			});
			API.get('mix_price', function(res){
				self.mix_price = res.mix_price;
			});
			API.get('drinks', function(res){
				self.drinks_personal = res.drinks_personal;
				self.drinks_group = res.drinks_group;
			});
			API.get('orders_length', {uid: localStorage.getItem('uid')}, function(res){
				self.ordersLength = res.ordersLength;
			});
		},
		methods: {
			toggleBase() {
				this.base_price = this.small_base ? this.base_price_2 : this.base_price_1;
			},
			toppingPrice(topping, mix_topping) {
				let mix = mix_topping || this.mix_topping;
				return (mix ? topping.price / 2 : topping.price) * topping.quantity;
			},
			getMeta(frite) {
				return frite[frite.length - 1];
			},
		    addTD: function(type, index, group){
		    	let typeTR;
		    	if (type == 'drink') {
		    		if (group) {
						typeTR = _.cloneDeep(this.drinks_group)[index];
					} else {
						typeTR = _.cloneDeep(this.drinks_personal)[index];
					}
		    	} else {
		    		typeTR = _.cloneDeep(this.toppings)[index];
		    	}
		    	let types_added = this[type+'s_added'];
		    	let addedIndex = _.findIndex(types_added, t => t.id == typeTR.id);
		    	let type_el = $("#"+typeTR.id);
		    	let type_quantity = '.'+type+'-quantity';

		    	if (addedIndex > -1) {
		    		let q = types_added[addedIndex].quantity += 1;
		    		type_el.find(type_quantity).text('x'+q).addClass('show');
		    		$("#added_"+typeTR.id).find(type_quantity).addClass('show');
		    	} else {
		    		types_added.push(typeTR);

		    		/* Animation */
		    		type_el.find('figure').animate({
    					'width': '-=15px',
    					'height': '-=15px'
    				}, 'fast');
    				type_el.find('figure').animate({
    					'width': '+=15px',
    					'height': '+=15px'
    				}, 'fast', function(){
    					type_el.find('figure').removeAttr('style');

    					let type_added = $("#added_"+typeTR.id);
		    			type_added.find('figure').addClass('active');

		    			if (type == 'drink') {
		    				type_added.parent().animate({
		    					scrollTop: '100%'
		    				});
		    			}
    				});
    				type_el.addClass('active');    				
		    	}
		    },
		    removeTD: function(type, i, removeAll, cleaning) {
		    	let types_added = this[type+'s_added'];
		    	let typeTR = types_added[i];
		    	let type_el = $("#"+typeTR.id);
		    	let type_quantity = '.'+type+'-quantity';

		    	if (typeTR.quantity > 1) {
		    		let q = typeTR.quantity -= 1;
		    		if (q == 1 || removeAll) {
		    			type_el.find(type_quantity).removeClass('show');
		    			$("#added_"+typeTR.id).find(type_quantity).removeClass('show');
		    		} else {
		    			type_el.find(type_quantity).text('x'+q);
		    		}
		    	} else {
		    		if (!cleaning) types_added.splice(i, 1);
		    		type_el.find(type_quantity).removeClass('show');
		    		type_el.removeClass('active');
		    	}
		    	if (removeAll) {
		    		type_el.removeClass('active');
		    	}
		    },
		    addFrite: function(){
				var self = this;
		    	this.frites_added.unshift(_.cloneDeep(this.toppings_added).concat({ seasoning: {
					cheese_sauce: this.seasoning.cheese_sauce,
					cheese_grated: this.seasoning.cheese_grated,
					guacamole: this.seasoning.guacamole
				}, small_base: this.small_base, mix_topping: this.mix_topping }));
		    	_.each(this.toppings_added, function(e, i){
		    		self.removeTD('topping', i, true, true);
		    	});
				this.toppings_added = [];
				this.seasoning.cheese_sauce = true;
				this.seasoning.cheese_grated = false;
				this.seasoning.guacamole = false;
				this.small_base = false;
				this.mix_topping = false;

		    	setTimeout(function(){
		    		$('.frites').find('.frite:nth-child('+(self.frites_added.length+1)+')').animate({'opacity': '1'});
		    	}, 100);
		    	$('body').animate({scrollTop: '-100%'});
		    },
		    removeFrite: function(i, isFirst){
		    	if (!isFirst){
		    		this.frites_added.splice(i, 1);
		    	} else {
					let replacement = this.frites_added[0];
					let meta = replacement.pop();
					this.seasoning = meta.seasoning;
					this.small_base = meta.small_base;
					this.mix_topping = meta.mix_topping;
					this.toppings_added = replacement;
		    		this.frites_added.splice(0, 1);

		    		$('.topping-list li').removeClass('active');
		    		_.each(this.toppings_added, function(topping, i){
		    			let topping_el = $("#"+topping.id).addClass('active');

		    			if (topping.quantity > 1) {
		    				topping_el.find('.topping-quantity').text('x'+topping.quantity).addClass('show');
		    			} else {
		    				topping_el.find('.topping-quantity').removeClass('show');
		    			}

		    			setTimeout(function(){
			    			let topping_added = $("#added_"+topping.id);
			    			if (topping_added.find('figure').width() == 0 && topping_added.find('figure').height() == 0){
			    				topping_added.find('figure').addClass('active');
			    			}
			    			if (topping.quantity > 1) {
			    				topping_added.find('.topping-quantity').addClass('show');
			    			}
		    			}, 100);
		    		});
		    	}
		    },
		    goTo: function(section, closeDialog) {
		    	var self = this;
		    	let actual_section_el = $('section.s'+this.actual_section);
		    	actual_section_el.css('position', 'relative');
		    	
		    	let left_animate;
		    	if (section == 0) {
		    		if (closeDialog) {
		    			$('.dialog').removeAttr('style');
		    			$('header, section, footer').removeClass('dialog-open');
		    			$('#app').removeAttr('style');
		    			this.ordersLength++;
		    		}
		    		left_animate = '100%';
		    	} else {
		    		left_animate = '-100%';
		    	}

	    		actual_section_el.animate({
	    			'left': left_animate
	    		}, function(){
					actual_section_el.removeAttr('style').hide();
					$('section.s'+section).fadeIn();
					$('body').animate({scrollTop:'-100%'})
	    		});

		    	let active_li = $('header li:nth-child('+(section+1)+')');
				active_li.parent().find('li').each(function(){
					$(this).removeClass('no-shadow');
					$(this).removeClass('active');
				});
				active_li.addClass('active');
				if (active_li.prev()[0]) {
					active_li.prev().addClass('no-shadow');
				}

				this.actual_section = section;
		    },
		    order: function(){
		    	$('.dialog').css('display', 'flex');
		    	$('header, section, footer').addClass('dialog-open');
		    	$('#app').css('overflow', 'hidden');
		    	$('body').animate({scrollTop: '-100%'});

		    	if (this.user_data) {
		    		if (this.user_data.role) {
		    			this.prepareOrder();

		    			var self = this;
		    			API.post('order', {uid: self.user, frites: self.pfrites_added, drinks: self.pdrinks_added}, function(res){
		    				if (!res.error) {
						    	self.resetOrder();
			    			} else {
			    				self.dialog.error = true;
			    				self.dialog.error_msg = res.message;
			    			}
		    			});
			    	} else {
			    		this.dialog.type = 1;
			    		this.dialog.address = this.user_data.address.addr1.length > 0 ? this.user_data.address : "";
			    		this.dialog.phone = this.user_data.phone > 0 ? this.user_data.phone : "";
			    	}
		    	} else {
		    		this.dialog.type = 1;
		    	}
		    },
		    cancel: function() {
		    	$('.dialog').removeAttr('style');
		    	$('header, section, footer').removeClass('dialog-open');
		    	$('#app').removeAttr('style');
		    },
		    prepareOrder: function() {
		    	var self = this;
		    	this.pfrites_added = _.cloneDeep(this.frites_added);
		    	this.ptoppings_added = _.cloneDeep(this.toppings_added);
		    	this.pdrinks_added = _.cloneDeep(this.drinks_added);

		    	this.pfrites_added.unshift(_.cloneDeep(this.ptoppings_added).concat({ seasoning: {
					cheese_sauce: this.seasoning.cheese_sauce,
					cheese_grated: this.seasoning.cheese_grated,
					guacamole: this.seasoning.guacamole
				}, small_base: this.small_base, mix_topping: this.mix_topping }));
		    	_.each(this.pfrites_added, function(el, i){
		    		_.each(el, function(e, i){
		    			if (typeof e != 'boolean') {
			    			delete e['.key'];
			    		}
		    		});
		    	});

		    	_.each(this.pdrinks_added, function(e, i) {
	    			delete e['.key'];
		    	});
		    },
		    sendDelivery: function() {
				var self = this;
				var phone = parseInt(this.dialog.phone)
		    	if (!isNaN(phone) && this.dialog.phone > 1000 
		    		&& this.dialog.address.addr1.length > 1
		    		&& this.dialog.address.addr2.toString().length > 1
		    		&& this.dialog.address.addr3.toString().length > 1
		    		&& this.dialog.address.addr4.toString().length > 1){
		    		var total = this.total;
		    		this.prepareOrder();

		    		API.post('order', {uid: self.user, city: localStorage.getItem('city'), total: total, frites: self.pfrites_added, drinks: self.pdrinks_added, address: self.dialog.address, phone: self.dialog.phone}, function(res){
		    			if (!res.error) {
					    	self.resetOrder();
		    			} else {
		    				self.dialog.error = true;
		    				self.dialog.error_msg = res.message;
		    			}
		    		});	
	    		} else {
	    			this.dialog.error = true;
	    			self.dialog.error_msg = null;
	    		}
		    },
		    resetOrder: function(){
		    	var self = this;
		    	_.each(this.toppings_added, function(e, i){
		    		self.removeTD('topping', i, true, true);
		    	});

		    	_.each(this.drinks_added, function(e, i) {
	    			self.removeTD('drink', i, true, true);
		    	});

		    	this.dialog.error = false;
		    	this.dialog.error_msg = null;
				this.frites_added = [];
		    	this.toppings_added = [];
		    	this.drinks_added = [];
		    	this.seasoning.cheese_sauce = true;
				this.seasoning.cheese_grated = false;
				this.seasoning.guacamole = false;
				this.small_base = false;
				this.mix_topping = false;
		    	this.dialog.type = 0;
		    }
		},
		computed: {
			totalToppings() {
		    	var self = this;
		    	let total = 0;
		    	this.frites_added.forEach(function(el, i){
					const meta = self.getMeta(el);
					total += self.base_price;
					total += meta.mix_topping ? self.mix_price : 0;
		    		el.forEach(function(e, i){
		    			if (typeof e !== 'boolean' && !e.seasoning) {
			    			total += self.toppingPrice(e, meta.mix_topping);
			    		}
			    	});
		    	});

				let total_toppings = this.base_price;
				total_toppings += this.mix_topping ? this.mix_price : 0;
		    	this.toppings_added.forEach(function(e, i){
		    		total_toppings += self.toppingPrice(e);
		    	});

		    	return total + total_toppings;
	 		},
	 		totalDrinks(){
	 			var self = this;
		    	let total = 0;
		    	this.drinks_added.forEach(function(e, i){
		    		total += (e.price * e.quantity);
		    	});

		    	return total;
	 		},
	 		total(){
	 			return this.totalToppings + this.totalDrinks;
	 		}
		}
	}
</script>

<style lang="scss"></style>
