@include font-face("Go Bold", "fonts/gobold/Gobold-Regular");
@include font-face("Go Bold Hollow Bold", "fonts/gobold/Gobold-Hollow-Bold", $exts: ttf);
@include font-face("Go Bold Thin", "fonts/gobold/Gobold-Thin", $exts: ttf);
@include font-face("Go Bold Bold", "fonts/gobold/Gobold-Bold", $exts: ttf);
