.home {
	header {
		background: url("/static/images/frites.jpg") no-repeat;
		background-size: cover;
		color: white;

		.wrap-header {
			background-color: $red-darker-alpha;
			padding: 20px 20px 0 20px;

			nav {
				font-family: "Go Bold";
				text-transform: uppercase;
				display: flex;
				align-content: center;
				align-items: center;

				figure {
					display: inline-block;

					img {
						max-width: 250px;
					}
				}
				ul {
					display: inline-block;
					flex: 2;
					text-align: right;
					padding-right: 20px;
					
					li {
						display: inline-block;
						font-size: 18px;
						margin-left: 40px;
						padding-bottom: 8px;

						&:last-child {
							a:not(:first-child) {
								margin-left: 14px;
							}
						}

						&:not(:last-child) {
							border-bottom: 4px solid white;
						}
					}
				}
			}

			.description {
				text-align: center;
				width: 75%;
				margin: 0 auto;

				h1 {
					font-family: "Go Bold Hollow Bold";
					text-transform: uppercase;
					font-size: 9em;
					line-height: 1.1;
					text-align: left;
					display: inline-block;
					margin: 0 0 15px 0;

					span {
						font-family: "Go Bold";
						font-size: 0.89em;
					}
				}
				p {
					font-size: 1.5em;
					line-height: 1;
				}
			}
		}

		.arrow-nav {
			padding: 80px 40px;
		}
	}

	.section {
		padding: 50px 40px;

		.head {
			text-align: center;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 4px;
				background: $gray-text;
				left: 0;
				top: calc(50% - 2px);
				z-index: -1;
			}

			h1 {
				font-family: "Go Bold Hollow Bold";
				text-transform: uppercase;
				color: $gray-text;
				font-size: 5em;
				display: inline-block;
				background: white;
				padding: 0 14px;
			}

			&__red {
				h1 {
					font-family: "Go Bold";
					color: $red-darker-dark;
				}

				&::before {
					background: $red-darker-dark;
				}
			}
		}

		&#toppings {
			.content {
				padding-top: 30px;
				padding-bottom: 30px;
				
				ul {
					text-align: center;

					li {
						display: inline-block;
						text-align: center;
						border-bottom: 2px $gray-figure dashed;
						margin: 0 30px 40px 30px;
						
						figure, .circle {
							width: 130px;
							height: 130px;
							padding: 12px;
							background: $gray-figure;
							border-radius: 50%;
							text-align: center;
							margin: 0 auto;

							span.helper {
								height: 100%;
								display: inline-block;
								vertical-align: middle;
							}

							img {
								vertical-align: middle;
							}
						}

						.circle, .caption {
							display: block;
						}
						.circle {
							vertical-align: middle;
							background: $red-darker-dark;
							font-family: "Go Bold";
							text-transform: uppercase;
							color: white;
							text-align: center;
							font-size: 20px;

							.text {
								vertical-align: middle;
								display: inline-block;
								i {
									display: block;
									margin-bottom: 10px;
								}
							}
						}

						figcaption, .caption {
							font-family: "Go Bold";
							text-transform: uppercase;
							color: $gray-text;
							font-size: 20px;
							margin: 15px 0 35px 0;
						}

						&:hover {
							border-bottom-color: $red-darker-dark;

							figure {
								background: $red-darker-dark;
							}

							figcaption {
								color: $red-darker-dark;
							}
						}
					}
				}
			}

			padding-bottom: 0;
		}

		&#soon {
			background: url("/static/images/counter.jpg") no-repeat;
			background-size: cover;
			color: white;
			padding: 0;
	
			.soon-wrapper {
				background-color: $red-darker-alpha;
				padding: 40px;

				.head {
					margin: 0 40px;

					&::before {
						width: 100px;
						left: calc(50% - 313px);
						background: white;
						z-index: 1;
					}

					&::after {
						content: "";
						position: absolute;
						width: 100px;
						height: 4px;
						left: calc(50% + 213px);
						top: calc(50% - 2px);
						z-index: 1;
						background: white;
					}

					h1 {
						background: transparent;
						z-index: 2;
						position: relative;
						color: white;
					}
				}

				.content {
					h2 {
						text-align: center;
						font-size: 3em;
						font-family: "Go Bold Bold";
						text-transform: uppercase;
						line-height: 1;
					}

					.timer {
                        padding: 50px;
                        text-align: center;

                        .clock-wrapper {
                            display: inline-block;
                            margin: 0 40px 20px 40px;

							@media screen and (min-width: 1025px) {
								&:first-child {
									margin-left: 0;
								}
								&:last-child {
									margin-right: 0;
								}
							}

                            span {
                                margin-top: 30px;
                                font-family: "Go Bold";
                                text-transform: uppercase;
                                display: block;
                                font-size: 2em;
                                line-height: 1;
                            }

                            .clock {
                                position: relative;
                                background: $red-darker-dark;
                                border-radius: 50%;

                                .text {
                                    position: absolute;
                                    font-size: 100px;
                                    color: white;
                                    z-index: 2000;
                                    font-family: "Go Bold";
                                    line-height: 1;
                                    left: calc(50% - 50px);
                                    top: calc(50% - 50px);
                                }
                            }

                            @mixin timer($item, $duration, $size, $color, $border, $hover: running) {
                                
                                #{$item} { 
                                    width: $size;
                                    height: $size;
                                }

                                #{$item} .pie {
                                    width: 50%;
                                    height: 100%;
                                    transform-origin: 100% 50%;
                                    position: absolute;
                                    background: $color;
                                    border: #{$border};
                                }

                                #{$item} .spinner {
                                    border-radius: 100% 0 0 100% / 50% 0 0 50%;
                                    z-index: 200;
                                    border-right: none;
                                    animation: rota $duration + s linear infinite;
                                }

                                #{$item}:hover .spinner,
                                #{$item}:hover .filler, 
                                #{$item}:hover .mask {
                                    animation-play-state: $hover;    
                                }

                                #{$item} .filler {
                                    border-radius: 0 100% 100% 0 / 0 50% 50% 0; 
                                    left: 50%;
                                    opacity: 0;
                                    z-index: 100;
                                    animation: opa $duration + s steps(1,end) infinite reverse;
                                    border-left: none;
                                }

                                #{$item} .mask {
                                    width: 50%;
                                    height: 100%;
                                    transform-origin: 50% 0%;
                                    background: $color;
                                    border: 10px solid $color;
                                    position: absolute;
                                    background: inherit;
                                    border-radius: 100% 0 0 100% / 50% 0 0 50%; 
                                    opacity: 1;
                                    z-index: 300;
                                    animation: opa $duration + s steps(1,end) infinite;
                                }

                                @keyframes rota {
                                    0% { transform: rotate(0deg); }
                                    100% { transform: rotate(360deg); }
                                }

                                @keyframes opa {
                                    0% { opacity: 1; }
                                    50%, 100% { opacity: 0; }
                                }
                            }

                            $clock_size: 200px;
                            @include timer('.clock.days', 86400, $clock_size, $red-darker-dark, '10px solid white');
                            @include timer('.clock.hours', 3600, $clock_size, $red-darker-dark, '10px solid white');
                            @include timer('.clock.minutes', 60, $clock_size, $red-darker-dark, '10px solid white');
                            @include timer('.clock.seconds', 1, $clock_size, $red-darker-dark, '10px solid white');
                        }
					}
				}
			}
		}

		&#ubication {
			.content {
                text-align: center;
                margin-top: 20px;

				iframe {
					width: 100%;
				}
			}
		}

		&#delivery {
			padding: 0;
			padding-top: 30px;

			.head {
				margin: 0 40px 40px 0;
			}

			.content {
				background: $gray-figure;
				padding: 40px;
				font-family: "Go Bold";
				text-transform: uppercase;

				.delivery__text {
					width: 50%;
					display: inline-block;
					text-align: right;
					padding: 0 40px;
					margin: 40px 0;
					border-right: 1px $gray-line-form dashed;

					p:first-child {
						color: $gray-text-form;
						font-size: 50px;
						line-height: 1.2;
					}

					p:last-child {
						font-size: 27px;
						color: $red-darker-dark;
						line-height: 1.2;
					}
				}

				.delivery__form {
					width: 49%;
					display: inline-block;
					vertical-align: top;
					padding: 40px;
					text-align: right;

					.input {
						margin-top: 20px;
						text-align: left;
						padding: 10px 20px;
						background: white;
						border: 1px solid $gray-line-form;
						border-radius: 20px;
						font-size: 18px;

						.label {
							color: $red-darker-dark;
							width: 18%;
						}

						input {
							border: 0;
							font-family: "Go Bold";
							text-transform: uppercase;
							line-height: 1;
							outline: none;
							width: 65%;
							color: $gray-text-form-2;
						}
					}

					.send {
						margin-top: 20px;
						font-family: "Go Bold";
						text-transform: uppercase;
						color: white;
						padding: 14px 50px;
						border-radius: 30px;
						border: 1px solid $gray-line-form;
						background: $red-darker-dark;
						font-size: 18px;
					}
				}
			}
		}
	}

	footer {
		.arrow-nav {
			padding: 15px;
		}

		.copyright {
			background-color: $red-darker-dark;
			padding: 20px;
			color: white;
			text-align: center;
		}
	}

	.arrow-nav {
		text-align: center;
		font-size: 34px;
	}
}

