.login {
	background-color: $black-transparent-2;
	text-align: center;
	color: #fff;
	height: 100%;
	font-family: "Go Bold Thin";
	padding: 40px;
	h2 {
		font-size: 50px;
		margin-bottom: 25px;
	}
	form {
		width: 100%;
		input, button {
			width: 100%;
			max-width: 300px;
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;
			font-family: "Open Sans", sans-serif;
			font-size: 14px;
			padding: 15px;
			border-radius: 7px;
			border: none;
		}
		button {
			cursor: pointer;
			background-color: $red-dark;
			color: #fff;
			&:hover {
				background-color: $red;
			}
		}
	}
	figure {
		max-width: 300px;
		margin: 0 auto;
		img {
			max-width: 100%;
		}
	}
}
