header {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
  }

  li {
    float: left;
  }

  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    height: 80px;
    line-height: 75px;
  }

  li a:hover {
    background-color: #111;
  }

  .logo {
    margin-top: 0px;
    width: 80px;
    height: 80px;
  }
}
