.ordenar {
  width: 100%;
  height: 100%;
  text-align: center;
  .toppings {
    width: 33%;
    float: left;
    background-color: blue;
  }

  .bebidas {
    width: 33%;
    float: left;
  }

  .orden {
    width: 33%;
    float: left;
  }
}
