.order-app {
	width: 100%;
	overflow: hidden;
	font-family: "Go Bold";
	text-transform: uppercase;
	header {
		width: 100%;
		nav {
			width: 100%;
			ul {
				width: 100%;
				list-style: none;
				padding: 0;
				margin: 0;
				font-size: 0;
				li {
					width: 33.3%;
					display: inline-block;
					padding: 20px 0;
					text-align: center;
					cursor: pointer;
					color: #fff;
					font-size: 18px;
					background-color: $red-dark;
					position: relative;
					float: left;
					&:not(:last-child) {
						&:after {
							left: 100%;
							top: 50%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							border-color: rgba(136, 183, 213, 0);
							border-left-color: $red;
							border-width: 30px 0 30px 15px;
							margin-top: -30px;
							z-index: 100;
							filter: drop-shadow(4px 0px 2px $red-darker);
						}
						&:not(.active) {
							&:after {
								border-left-color: $red-dark;
								filter: drop-shadow(4px 0px 0px $red-darker);
							}
						}
						&.no-shadow:after {
							filter: none;
						}
						&.active {
							background-color: $red;
						}
					}
					&.active {
						background-color: $red;
					}
					&:not(.active) {
						color: $red-light;
					}
					&:last-child {
						z-index: 98;
						width: 33.38%;
					}
					&:first-child {
						z-index: 100;
						&:after {
							left: calc(100% - 0.04em);
						}
					}
					&:nth-child(2) {
						z-index: 99;
					}

					i {
						margin-right: 10px;
					    vertical-align: middle;
					    font-size: 18px;
					}
				}
			}
		}
	}

	.container {
		width: 100%;
		background: url(/static/images/order/fondo.jpg) no-repeat;
		background-size: 100% 100%;

		&.s1, &.s2 {
			display: none;
		}
		article {
			width: 33%;
			display: inline-block;
			padding-top: 40px;
			vertical-align: top;
			padding-bottom: 35px;
			&.topping-list, &.drinks-list {
				ul {
					width: 75%;
					list-style: none;
					padding-left: 0;
					margin: 0 auto;
					height: 504px;
					overflow-y: auto;
					&::-webkit-scrollbar {
					    width: 0px;
					    background: transparent;
					}
					&::-webkit-scrollbar-thumb {
					    background: #FF0000;
					}
					li {
						width: 100%;
						margin-bottom: 10px;
						cursor: pointer;
						font-size: 20px;
						user-select: none;
						&:first-child {
							border-top: 4px solid $white-transparent;
    						padding-top: 15px;
						}
						&:last-child {
							border-bottom: 4px solid $white-transparent;
    						padding-bottom: 15px;
						}
						figure, div {
							display: inline-block;
							vertical-align: middle;
							color: #fff;
							font-size: 18px;
						}
						figure {
							margin: 0;
							margin-right: 15px;
							width: 52px;
							height: 52px;
							border-radius: 50%;
							text-align: center;
							white-space: nowrap;
							img {
								vertical-align: middle;
								max-width: 53px;
							}
						}
						div {
							span.topping-quantity, span.drink-quantity {
								opacity: 0;
							}
						}
						&.active {
							figure {
								background-color: $white-transparent;
								margin-right: 0;
							}
							div {
								padding: 16px;
								width: calc(100% - 52px);
								padding-left: 30px;
								color: $gray;
								position: relative;
							    background: url(/static/images/order/box.png) no-repeat;
								background-size: 100% 100%;
								span.topping-text, span.drink-text {
								    width: 79%;
									display: inline-block;
									padding-left: 4px;
								}
								span.topping-quantity, span.drink-quantity {
									background-color: $red;
								    color: #fff;
								    border-radius: 50%;
								    padding: 5px;
								    font-size: 16px;
								    vertical-align: middle;
								    transition: opacity 0.5s;
								    &.show {
								    	opacity: 1;
								    }
								}
							}
						}
						span.helper {
							height: 100%;
							display: inline-block;
							vertical-align: middle;
						}
						span.topping-text, span.drink-text {
							font-size: 20px;
						}

						&#topping_7.active {
							div {
								padding: 10px;
    							padding-left: 30px;
    							span.topping-text {
									font-size: 16px;
								}
								.topping-quantity {
									vertical-align: super;
								}
							}
							@media screen and (min-width: 990px) {
								div {
									padding: 17px;
									padding-left: 30px;
									.topping-quantity {
										vertical-align: middle;
									}
								}
							}

						}
					}
				}
				@media screen and (max-width: 414px) {
					ul {
						width: 35%;
						li {
							div {
								display: none;
							}
						}
					}
				}
				@media screen and (max-width: 375px) {
					ul {
						width: 40%;
					}
				}
				@media screen and (max-width: 568px) {
					ul {
						li {
							div {
								.topping-text, .drink-text {
									width: 100% !important;
								}
								.topping-quantity, .drink-quantity {
									display: none;
								}
							}
							&.active {
								div {
									.drink-text {
										padding: 0 !important;

									}
								}
							}
							&#topping_7 {
								div {
									.topping-text {
										font-size: 16px;
									}
								}
							}
						}
					}
				}
				@media screen and (max-width: 320px) {
					ul {
						width: 45%;
					}
				}
			}

			&.topping-resume, &.drinks-resume {
				color: #fff;
				text-align: center;
				background-color: $black-transparent;
				height: 579px;
				h2 {
					font-family: "Go Bold Hollow Bold";
					font-size: 64px;
					line-height: 1;
				}
				span.hint-desc {
					text-transform: none;
					font-family: "Open Sans";
					font-size: 14px;
				}

				.first-row {
					margin: 8px 0;
					p {
						display: inline-block;
						margin-left: 10px;
					}
				}
				.seasoning {
					p {
						display: inline-block;
						margin-left: 10px;
						margin-bottom: 6px;
						&.last {
							margin-bottom: 15px;
						}
					}
				}
				p {
					font-family: "Go Bold Thin";
					font-size: 18px;
					cursor: pointer;
					i {
						font-size: 22px;
					}
					
					&.disable-cheese {
						color: $white-transparent;
						i {
							padding-right: 3px;
						}
					}
				}

				figure {
					position: relative;
					display: inline-block;
					img {
						max-width: 100%;
					}
					div.topping-added {
						display: inline-block;
						position: absolute;
						cursor: pointer;
						figure {
							background-color: $white-transparent;
							width: 0; // 52px
							height: 0; // 52px
							border-radius: 50%;
							text-align: center;
							white-space: nowrap;
							transition: width 0.5s, height 0.5s;
							&.active {
								width: 52px;
								height: 52px;
							}
							img {
								width: auto;
								vertical-align: middle;
							}
							span.helper {
								height: 100%;
								display: inline-block;
								vertical-align: middle;
							}
						}
						&:nth-child(2) {top: 4%; left: 42.4%;}
						&:nth-child(3) {top: 11%; left: 64%;}
						&:nth-child(4) {top: 28%; left: 77%;}
						&:nth-child(5) {top: 51%; left: 80%;}
						&:nth-child(6) {top: 71%; left: 71%;}
						&:nth-child(7) {top: 83%; left: 53%;}
						&:nth-child(8) {top: 83%; left: 30%;}
						&:nth-child(9) {top: 71%; left: 13%;}
						&:nth-child(10) {top: 51%; left: 4%;}
						&:nth-child(11) {top: 28%; left: 6%;}
						&:nth-child(12) {top: 11%; left: 20%;}
					}
					span.topping-quantity, span.drink-quantity {
						background-color: $red;
					    color: #fff;
					    border-radius: 50%;
					    padding: 5px;
					    font-size: 15px;
					    vertical-align: top;
				        left: 60%;
						position: absolute;
						bottom: 0;
						z-index: 10000;
						filter: drop-shadow(1px 1px 2px);
						opacity: 0;
						transition: opacity 0.5s;
						&.show {
							opacity: 1;
						}
					}
				}
				@media screen and (max-width: 736px) {
					h2 {
						display: none;
					}
					p {
						margin: 20px;
					}
				}
			}

			&.topping-order, &.drinks-order {
				padding-left: 15px;
				padding-right: 55px;
				color: #fff;
				h3 {
					font-size: 22px;
					padding-top: 8px;
					border-top: 4px solid #fff;
				}
				.frites, .drinks {
					margin-top: 8px;
					height: 413px;
					overflow-y: auto;
					&::-webkit-scrollbar {
					    width: 0px;
					    background: transparent;
					}
					&::-webkit-scrollbar-thumb {
					    background: #FF0000;
					}
					.frite, .drink {
						margin-bottom: 16px;
						opacity: 0;
						&:first-child, &:last-child {
							opacity: 1;
						}
						.frite-title-container, .drink-title-container {
							display: block;
							background-color: #fff;
							color: $gray;
							font-size: 18px;
							margin-bottom: 8px;
							.frite-title, .drink-title {
								display: inline-block;
								padding: 12px 26px;
							}
							i {
								background-color: $red;
								padding: 12px 15px;
								color: #fff;
								float: right;
								cursor: pointer;
							}
						}
						ul {
							font-family: "Go Bold Thin";
							font-size: 16px;
							li {
								margin-bottom: 8px;
								span {
									display: inline-block;
									&.topping-text, &.drink-text {
										width: 70%;
									}
									&.topping-price, &.drink-price {
										width: 28%;
										text-align: right;
									}
								}
							}
						}
						&:last-child {
							margin-top: 40px;
							.frite-title-container {
								background-color: $white-transparent;
							}
						}
					}
				}
				.subtotal {
					padding: 12px 26px;
					background-color: $red;
					font-size: 18px;
					margin-top: 8px;
					span {
						display: inline-block;
						width: 48%;
						&:last-child {
							text-align: right;
						}
					}
				}
			}
			@media screen and (max-width: 768px) {
				&:first-child, &:nth-child(2) {
					width: 48%;
				}
				&:nth-child(3) {
					width: 70%;
					margin: 0 auto;
					display: block;
					.frites, .drinks {
						height: 200px;
					}
				}
			}
			@media screen and (max-width: 412px) {
				&:nth-child(3) {
					width: 90%;
					padding-right: 15px;
				}
			}
			@media screen and (max-width: 375px) {
				&:nth-child(3) {
					width: 90%;
					padding-right: 15px;
				}
			}

		}
		&.s1 {
			.drinks-list {
				li {
					figure {
						img {
							height: 100%;
							transform: rotate(15deg);
						}
					}
				}
			}

			.drinks-resume {
				figure {
					width: 100%;
					height: 78%;
					overflow-y: auto;
					&::-webkit-scrollbar {
					    width: 0px;
					    background: transparent;
					}
					&::-webkit-scrollbar-thumb {
					    background: #FF0000;
					}
				}
				.drink-added {
					width: 35%;
					display: inline-block;
					margin-bottom: 20px;
					cursor: pointer;
					figure {
						overflow: initial;
						width: 0;
						height: 0;
						transition: width 0.5s, height 0.5s;
						img {
							max-width: 100%;
							height: 100%;
						}
						&.active {
							width: 40px;
							height: 134px;
						}
					}
				}
				.hint-desc {
					display: block;
					margin-bottom: 30px;
				}
			}

			.drinks-order {
				.drinks {
					.drink {
						&:first-child {
							.drink-title-container {
								background-color: $white-transparent;
								color: #e5e5e5;
								i {
									background-color: transparent;
									color: #e5e5e5;
								}
							}
						}
						&:last-child {
							margin-top: 0;
						}
					}
				}
			}
		}
		&.s2 {
			article {
				padding-bottom: 31px;
			}
			.order-title {
				width: 100%;
				background-color: $black-transparent-3;
				color: #fff;
				h2 {
					font-family: "Go Bold Hollow Bold";
					font-size: 64px;
				}
				span.hint-desc {
					text-transform: none;
					font-family: "Open Sans";
					font-size: 14px;
				}
				.button-add {
					display: inline-block;
					width: 33%;
					text-align: center;
					vertical-align: top;
					margin-top: 14px;
					button {
						font-family: "Go Bold";
						font-size: 19px;
						text-transform: uppercase;
						padding: 15px;
						border-radius: 30px;
						border: none;
						cursor: pointer;
						i {
							vertical-align: baseline;
							font-size: 25px;
						}
						&.button-normal {
							padding: 10px;
							background-color: transparent;
							border: 4px solid $white-transparent;
							color: $white-transparent;
						}
					}
				}
				
				.order-title-text {
					width: 33%;
					display: inline-block;
					text-align: center;
				}
			}

			.frites-list, .drinks-order-list {
				padding-left: 65px;
				padding-top: 25px;
				padding-right: 20px;
				color: #fff;
				h3 {
					font-size: 22px;
					padding-top: 8px;
					border-top: 4px solid #fff;
				}
				.frites, .drinks {
					margin-top: 8px;
					height: 280px;
					overflow-y: auto;
					&::-webkit-scrollbar {
					    width: 0px;
					    background: transparent;
					}
					&::-webkit-scrollbar-thumb {
					    background: #FF0000;
					}
					.frite, .drink {
						margin-bottom: 16px;
						opacity: 0;
						&:first-child, &:last-child {
							opacity: 1;
						}
						.frite-title-container, .drink-title-container{
							display: block;
							background-color: #fff;
							color: $gray;
							font-size: 18px;
							margin-bottom: 8px;
							.frite-title, .drink-title {
								display: inline-block;
								padding: 12px 26px;
							}
							i {
								background-color: $red;
								padding: 12px 15px;
								color: #fff;
								float: right;
								cursor: pointer;
							}
						}
						ul {
							font-family: "Go Bold Thin";
							font-size: 16px;
							li {
								margin-bottom: 8px;
								span {
									display: inline-block;
									&.topping-text, &.drink-text {
										width: 70%;
									}
									&.topping-price, &.drink-price {
										width: 28%;
										text-align: right;
									}
								}
							}
						}
					}
				}

				.subtotal {
					padding: 12px 26px;
					background-color: $gray-dark;
					font-size: 18px;
					margin-top: 8px;
					span {
						display: inline-block;
						width: 48%;
						&:last-child {
							text-align: right;
						}
					}
				}
			}
			.drinks-order-list {
				padding-left: 0;
				padding-right: 8%;
				margin-top: 33px;
			}

			.order-total {
				padding: 0;
				height: 354px;
				figure {
					width: 100%;
					height: 100%;
					img {
						max-width: 100%;
						height: 100%;
					}
				}
				.total {
					color: #fff;
					padding: 12px 26px;
					background-color: $red;
					font-size: 18px;
					span {
						display: inline-block;
						width: 48%;
						&:last-child {
							text-align: right;
						}
					}
				}
			}
			@media screen and (max-width: 768px) {
				article {
					&.frites-list {
						padding-left: 40px;
					}
					&.drinks-order-list {
						width: 48%;
						display: inline-block;
					}
					&.frites-list, &.drinks-order-list {
						.frites, .drinks {
							height: 200px;
						}
					}
					&.order-total {
					    height: 335px;
					    margin: 0 auto;
					    display: block;
					    figure {
					    	height: 70%;
					    }
					}
				}
			}
			@media screen and (max-width: 568px) {
				article {
					&.order-title {
						.button-add {
							display: none;
						}
						.order-title-text {
							width: 65%;
							display: block;
							margin: 0 auto;
						}
					}
					&.order-total {
						width: 50%;
						figure {
					    	img {
					    		display: block;
					    		margin: 0 auto;
					    	}
					    }
					}
				}
			}
			@media screen and (max-width: 414px) {
				article {
					&.order-title {
						.button-add {
							margin-top: 4px;
							padding-left: 5px;
						}
						.order-title-text {
							width: 65%;
						}
					}
					&.frites-list, &.drinks-order-list, &.order-total {
						width: 70%;
						padding: 0;
						display: block;
						margin: 0 auto;
						margin-top: 25px;
					}
					&.frites-list, &.drinks-order-list {
						.frites, .drinks {
							height: 150px;
						}
					}
					&.order-total {
					    figure {
					    	img {
					    		display: block;
					    		margin: 0 auto;
					    	}
					    }
					}
				}
			}
			@media screen and (max-width: 412px) {
				article {
					&.order-total {
						width: 70%;
					}
				}
			}
			@media screen and (max-width: 320px) {
				article {
					&.order-title {
						.button-add {
							margin: 0;
							.button-normal {
								font-size: 14px;
								padding: 5px;
								i {
									display: block;
								}
							}
						}
						.order-title-text {
							width: 65%;
							h2 {
								font-size: 50px;
							}
						}
					}
					&.frites-list, &.drinks-order-list, &.order-total {
						width: 70%;
						padding: 0;
						display: block;
						margin: 0 auto;
						margin-top: 25px;
					}
					&.frites-list, &.drinks-order-list {
						.frites, .drinks {
							height: 150px;
						}
					}
					&.order-total {
					    figure {
					    	img {
					    		display: block;
					    		margin: 0 auto;
					    	}
					    }
					}
				}
			}
		}
		@media screen and (max-width: 414px) {
			&.s0 {
				display: -webkit-box;
			    display: -moz-box;
			    display: -ms-flexbox;
			    display: -webkit-flex;
			    display: flex;
			    -webkit-box-orient: vertical;
			    -moz-box-orient: vertical;
			    -webkit-flex-direction: column;
			    -ms-flex-direction: column;
			    flex-direction: column;
			    /* optional */
			    -webkit-box-align: start;
			    -moz-box-align: start;
			    -ms-flex-align: start;
			    -webkit-align-items: flex-start;
			    align-items: flex-start;
			    .topping-list {
			    	-webkit-box-ordinal-group: 2;
				    -moz-box-ordinal-group: 2;
				    -ms-flex-order: 2;
				    -webkit-order: 2;
				    order: 2;
				    width: 100%;
				    ul {
				    	width: 68%;
				    	li {
				    		div {
				    			display: inline-block;
				    			.topping-text {
				    				width: 79% !important;
				    			}
				    			.topping-quantity {
				    				display: inline-block;
				    			}
				    		}
				    	}
				    }
			    }
			    .topping-resume {
			    	-webkit-box-ordinal-group: 1;
				    -moz-box-ordinal-group: 1;
				    -ms-flex-order: 1;
				    -webkit-order: 1;
				    order: 1;
				    width: 100%;
				    height: auto;
				    figure {
				    	width: 100%;
				    	text-align: left;
				    	img {
				    		max-width: 100px;
				    		vertical-align: middle;
				    	}
				    	.topping-added {
				    		top: initial !important;
				    		left: initial !important;
				    		position: relative;
				    		margin-right: 8px;
				    		margin-bottom: 8px;
				    	}
				    }
			    }
			    .topping-order {
			    	-webkit-box-ordinal-group: 3;
				    -moz-box-ordinal-group: 3;
				    -ms-flex-order: 3;
				    -webkit-order: 3;
				    order: 3;
				    width: 80%;
				    padding: 20px;
			    }
			}
			&.s1 {
				.drinks-order {
					padding: 20px;
					width: 80%;
				}
			}
		}
		@media screen and (max-width: 375px) {
			&.s0 {
				.topping-list {
					ul {
						li {
							div {
								.topping-text {
									width: 78% !important;
								}
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 320px) {
			&.s0 {
				.topping-list {
					ul {
						width: 82%;
						li {
							div {
								.topping-text {
									width: 79% !important;
								}

							}
						}
					}
				}
			}
		}
	}

	footer {
		width: 100%;
		padding: 20px 50px; 
		padding-bottom: 0;
		figure, aside {
			display: inline-block;
		}
		figure {
			padding-right: 24px;
			vertical-align: middle;
			img {
				max-width: 89px;
			}
		}
		aside {
			&.resume {
				width: 40%;
				font-family: "Open Sans";
				font-size: 14px;
				color: $black-transparent-2;
				text-transform: none;
				vertical-align: middle;
				padding: 0 15px;
				border-right: 2px solid $black-transparent;
				border-left: 2px solid $black-transparent;
			}

			&.nav-button {
				margin: 20px 0;
				float: right;
				button {
					font-family: "Go Bold";
					font-size: 19px;
					text-transform: uppercase;
					padding: 15px;
					border-radius: 30px;
					border: none;
					cursor: pointer;
					i {
						vertical-align: middle;
						font-size: 25px;
					}
					&.button-red {
						background-color: $red;
						color: #fff;
						padding-left: 40px;
						padding-right: 40px;
						margin-left: 10px;
					}
					&.button-normal {
						padding: 10px;
						background-color: transparent;
						border: 4px solid $black-transparent;
						color: $black-transparent-2;
						&.return-button {
							padding-right: 25px;
							padding-left: 25px;
							i {
								margin-right: 6px;
							}
						}
						&.add-frites {
							display: none;
						}
					}
				}
				
			}
		}
		@media screen and (max-width: 768px) {
			padding: 20px 10px;
			aside {
				&.resume {
					width: 35%;
				}
			}
		}
		@media screen and (max-width: 736px) {
			aside {
				&.resume {
					width: 80%;
				}
			}
		}
		@media screen and (max-width: 568px) {
			aside {
				&.resume {
					width: 78%;
				}
				&.nav-button {
					button {
						&.button-normal.add-frites {
							display: inline-block;
						}
					}
				}
			}

		}
		@media screen and (max-width: 414px) {
			aside {
				&.resume {
					width: 68%;
				}
			}
		}
		@media screen and (max-width: 375px) {
			aside {
				&.resume {
					width: 65%;
				}
				&.nav-button {
					.button-red {
						margin-left: 0 !important;
					}
				}
			}
		}
		@media screen and (max-width: 360px) {
			aside {
				&.nav-button {
					.button-normal {
						font-size: 17px;
					}
					.button-red {
						vertical-align: bottom;
					}
				}
			}
		}
		@media screen and (max-width: 320px) {
			aside {
				&.resume {
					width: 60%;
				}
				&.nav-button {
					.button-normal {
						font-size: 12px;
					}
					.button-red {
						vertical-align: bottom;
					}
				}
			}
		}
	}

	.dialog-open {
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
	}
	header.dialog-open {
		display: inline-block;
		max-height: 50px;
	}

	.dialog {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 2000;
	    display: none;
	    justify-content: center;
	    background-color: $black-transparent-3;
	    .dialog-inner {
	    	align-self: center;
	    	background-color: #fff;
		    padding: 30px;
		    border-radius: 10px;
		    font-family: "Open Sans";
		    text-transform: none;
		    font-size: 14px;
		    text-align: center;
		    i {
		    	font-size: 50px;
		    	color: $green;
		    	margin-bottom: 10px;
		    }
		    p {
		    	margin-bottom: 20px;
		    	strong {
		    		font-weight: bold;
		    	}
		    }
		    .dialog-button {
		    	border: none;
		    	border-radius: 20px;
		    	font-family: "Go Bold";
		    	font-size: 16px;
		    	background-color: $green;
		    	padding: 10px 20px;
		    	color: #fff;
		    	cursor: pointer;
		    	text-transform: uppercase;
		    	&.btn-cancel {
		    		background-color: $red-dark;
		    	}
		    }
		    form {
		    	display: block;
    			width: 100%;
    			max-width: 300px;
    			input, select {
    				width: 100%;
    				padding: 10px;
    				border: 1px solid $gray;
    				margin-bottom: 10px;
    				border-radius: 7px;
    			}
    			.group-form {
    				label {
    					width: 10%;
    					display: inline-block;
    					font-size: 19px;
    				}
    				input {
    					width: 90%;
    				}
    			}
    			span.info {
    				font-size: 12px;
    				i {
    					font-size: 14px;
    				}
    			}
		    }
		    span.error {
		    	color: $red;
		    	margin-top: 15px;
		    	display: block;
		    	i {
		    		color: $red;
		    		font-size: 19px;
		    		margin-right: 5px;
		    	}
		    }
	    }
	}
}
